---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import logoImage from '../assets/logo.svg';
import asciiImage from '../assets/ascii.png';
import minIcon from '../assets/min.svg';
import maxIcon from '../assets/max.svg';
import closeIcon from '../assets/close.svg';
import config from '../site.config';
---

<Layout title="CELL Studio">
  <main class="xl:px-6">
    <header class="flex pb-8 gap-2 items-center">
      <Picture src={logoImage} alt="CELL Studio" width={42} height={30} loading="eager" format="svg" />
      <h1 class="text-[25px] font-bold text-white/95 font-mono">CELL Studio</h1>
    </header>
    <div class="flex flex-col-reverse lg:flex-row">
      <!-- <div class="flex lg:hidden justify-between sm:justify-center sm:gap-4 mt-8"> -->
      <!--   { -->
      <!--     config.links.map(({ name, url }: { name: string; url: string }) => ( -->
      <!--       <div class="bg-primary px-1 sm:px-2 py-1"> -->
      <!--         <a -->
      <!--           href={url} -->
      <!--           target="_blank" -->
      <!--           rel="noopener noreferrer" -->
      <!--           class="text-white/95 font-mono text-xs sm:text-sm" -->
      <!--         > -->
      <!--           {name} -->
      <!--         </a> -->
      <!--       </div> -->
      <!--     )) -->
      <!--   } -->
      <!-- </div> -->
      <div class="flex-1 min-w-[50%]">
        <div class="max-w-full lg:max-w-[566px]">
          <div class="h-11 border-border border-2 border-b-0 flex justify-end">
            {
              [minIcon, maxIcon, closeIcon].map((icon) => (
                <div class="border-l-2 border-border">
                  <Picture
                    src={icon}
                    alt="icon"
                    width={44}
                    height={48}
                    loading="eager"
                    format="svg"
                  />
                </div>
              ))
            }
          </div>
          <div class="px-8 lg:p-10 border-border border-2">
            <div class="my-2">
              <span class="text-primary text-[44px]">{'<>'}</span>
            </div>
            <div class="text-white/95 text-[15px] font-medium leading-5 font-mono [&>p]:mb-4">
              <p>
                <span class="text-primary">CELL Studio</span> is a blockchain software development company
                with a dedicated focus on the BTC ecosystem, committed to advancing the Nervos BTCKB
                initiative. Our goal is to facilitate the integration of BTC and CKB, empowering CKB
                to emerge as the premier Bitcoin Layer2 solution fully interoperable with BTC, utilizing
                a <span class="text-secondary">"PoW+UTXO"</span> framework.
              </p>
              <p>
                Much like ConsenSys' pivotal role in the Ethereum ecosystem, Cell Studio is poised
                to play a crucial part within the Nervos ecosystem. Founded under the auspices of
                the Nervos ecosystem fund InNervation and helmed by Nervos co-founder Cipher, our
                mission is to propel the development and prosperity of the Nervos ecosystem. We
                achieve this by harnessing potent smart contract capabilities to enable a diverse
                array of assets on the BTC Layer1.
              </p>
              <p>
                <span class="text-primary">Concact:</span>
                <a class="text-secondary" href="mailto:baiyu@cell.studio">baiyu@cell.studio</a>
              </p>
            </div>
            <div class="my-2">
              <span class="text-primary text-[44px]">{'</>'}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col justify-between pb-8 lg:py-14 lg:px-10 xl:px-14">
        <div class="max-w-full">
          <Picture
            src={asciiImage}
            alt="CELL Studio"
            width={610}
            height={350}
            loading="eager"
            format="png"
          />
        </div>
        <!-- <div class="hidden lg:flex gap-4"> -->
        <!--   { -->
        <!--     config.links.map(({ name, url }: { name: string; url: string }) => ( -->
        <!--       <div class="bg-primary px-2 py-1"> -->
        <!--         <a -->
        <!--           href={url} -->
        <!--           target="_blank" -->
        <!--           rel="noopener noreferrer" -->
        <!--           class="text-white/95 font-mono" -->
        <!--         > -->
        <!--           {name} -->
        <!--         </a> -->
        <!--       </div> -->
        <!--     )) -->
        <!--   } -->
        <!-- </div> -->
      </div>
    </div>
  </main>
</Layout>
